@charset "utf-8";

section {
  width:100%;
  background:lightcyan;
  display:flex;
}


section article {
	
	background:aqua;
	border:1px solid #000;
  box-sizing:border-box;
  font-size:50px;
  color:#fff;
  display:flex;

}
